<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Mixtape Dating</title>
  </head>
  <body>
    <h1>Mixtape Dating</h1>
    <p>You must be at least 18 years of age to participate. Otherwise, feel free to take these songs as suggestions.</p>
    <a href="/client/create-playlist.html">Create a playlist...</a>
    <h2>Playlists</h2>
    <ol id="playlists">
      <% for(var i=0; i<playlists.length; i++){ %>
      <li>
        <a href=<%= playlists[i].url %>><%= playlists[i].title %></a>
      </li>
      <% } %>
    </ol>
    <hr />
    <p>
    <a href="mailto:moorej30@unlv.nevada.edu">Joshua M. Moore</a><br />
    6210 Flaming Arrow Rd. <br />
    North Las Vegas, NV 89031<br />
    United States, Earth<br />
    </p>
  </body>
</html>